<!-- Loading overlay -->
<div *ngIf="isLoading" class="overlay">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="table-wrapper">
  <div class="header">
    <h1 class="center">Prescripciones IQVIA</h1>
    <img src="/ico_sanfurma.jpeg" alt="sunpharma_logo" [width]="100" [height]="75"/>
  </div>

  <form [formGroup]="form" (submit)="onSubmit()">
    <!--<mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="name" id="name" name="name" [required]="false" [formControl]="nameControl" formControlName="name" [matAutocomplete]="auto1" #name>
      <mat-autocomplete #auto1="matAutocomplete">
        <mat-option *ngFor="let name of filteredNames | async" [value]="name">
          {{name}}
        </mat-option>
      </mat-autocomplete>
&lt;!&ndash;      <mat-error *ngIf="isInvalidControl(form, 'name')">
        {{errorMessagesForControl(form, 'name')}}
      </mat-error>&ndash;&gt;

    </mat-form-field>-->

    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input matInput type="text" id="surname" name="surname" [required]="false" [formControl]="surnameControl" formControlName="surname" #surname [matAutocomplete]="auto2">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let surname of filteredSurnames | async" [value]="surname">
          {{surname}}
        </mat-option>
      </mat-autocomplete>
<!--      <mat-error *ngIf="isInvalidControl(form, 'surname')">-->
<!--        {{errorMessagesForControl(form, 'surname')}}-->
<!--      </mat-error>-->
    </mat-form-field>

    <br>

    <mat-form-field>
      <mat-label>CMP</mat-label>
      <input matInput type="name" id="cmp" name="cmp" [required]="false" formControlName="cmp" #cmp>
<!--      <mat-error *ngIf="isInvalidControl(form, 'cmp')">-->
<!--        {{errorMessagesForControl(form, 'cmp')}}-->
<!--      </mat-error>-->
    </mat-form-field>

    <br>

    <button type="submit" mat-raised-button color="primary">CONSULTAR</button>

  </form>

  <!-- Data Table -->

  <div class="row-container">
    <button class="button-refresh" (click)="onRefresh()">
      <i class="fas fa-sync-alt"></i>
    </button>
  </div>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container matColumnDef="molecule">
      <th class="header-cell" *matHeaderCellDef mat-header-cell mat-sort-header>Molecule</th>
      <td class="personal" *matCellDef="let element" mat-cell>{{ element.molecule }}</td>
    </ng-container>

    <ng-container matColumnDef="descriptionLaboratory">
      <th class="header-cell" *matHeaderCellDef mat-header-cell mat-sort-header>Description Laboratory</th>
      <td class="personal" *matCellDef="let element" mat-cell>{{ element.descriptionLaboratory }}</td>
    </ng-container>

    <ng-container matColumnDef="department">
      <th class="header-cell" *matHeaderCellDef mat-header-cell mat-sort-header>Department</th>
      <td class="personal" *matCellDef="let element" mat-cell>{{ element.department }}</td>
    </ng-container>

    <ng-container matColumnDef="speciality">
      <th class="header-cell" *matHeaderCellDef mat-header-cell mat-sort-header>Speciality</th>
      <td class="personal" *matCellDef="let element" mat-cell>{{ element.speciality }}</td>
    </ng-container>

    <ng-container matColumnDef="cmp">
      <th class="header-cell" *matHeaderCellDef mat-header-cell mat-sort-header>CMP</th>
      <td class="personal" *matCellDef="let element" mat-cell>{{ element.cmp }}</td>
    </ng-container>

    <ng-container matColumnDef="ytdSun23">
      <th class="header-cell" *matHeaderCellDef mat-header-cell mat-sort-header>YTD SUN 23</th>
      <td class="ytd"*matCellDef="let element" mat-cell>{{ element.ytdSun23 }}</td>
    </ng-container>

    <ng-container matColumnDef="ytdSun24">
      <th class="header-cell" *matHeaderCellDef mat-header-cell mat-sort-header>YTD SUN 24</th>
      <td class="ytd" *matCellDef="let element" mat-cell>{{ element.ytdSun24 }}</td>
    </ng-container>

    <ng-container matColumnDef="qtrDicFeb">
      <th class="header-cell" *matHeaderCellDef mat-header-cell mat-sort-header>QTR DIC-FEB</th>
      <td class="qtr" *matCellDef="let element" mat-cell>{{ element.qtrDicFeb }}</td>
    </ng-container>

    <ng-container matColumnDef="qtrMarMay">
      <th class="header-cell" *matHeaderCellDef mat-header-cell mat-sort-header>QTR MAR-MAY</th>
      <td class="qtr" *matCellDef="let element" mat-cell>{{ element.qtrMarMay }}</td>
    </ng-container>

    <ng-container matColumnDef="qtrJunAgo">
      <th class="header-cell" *matHeaderCellDef mat-header-cell mat-sort-header>QTR JUN-AGO</th>
      <td class="qtr" *matCellDef="let element" mat-cell>{{ element.qtrJunAgo }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginator child component-->
  <mat-paginator [length]="25" [pageSizeOptions]="[5, 10, 15, 25]" [pageSize]="5" aria-label="Select Page" showFirstLastButtons></mat-paginator>
</div>

<style>

  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

  .qtr{
    background-color: olivedrab;
  }

  .ytd{
    background-color: goldenrod;
  }

  .personal{
    background-color: antiquewhite;
  }


  .header-cell{
    border: 2px solid #c8dbef;           /* A thicker border with a custom color */
    border-radius: 4px 4px 0 0;          /* Rounded corners at the top */
    padding: 12px 16px;                  /* Generous padding for more space */
    background-color: #f0f8ff;           /* Soft background color */
    color: #333;                         /* Dark text for contrast */
    font-weight: bold;                   /* Bold text to stand out */
    text-align: center;                  /* Center the text */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s;   /* Smooth transition for hover effect */
  }

  .header-cell:hover{
    background-color: #e1f5fe;
  }

  td{
    border: 1px solid #2f3434;             /* Soft border between rows */
    background-color: #ffffff;                 /* White background for clean look */
    color: #333;                               /* Dark text color for readability */
    padding: 12px 16px;                        /* Padding to align with header */
    transition: background-color 0.3s;         /* Smooth transition for hover effect */
  }


  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure the overlay is above other elements */
  }

  .header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 600px) {
    .header {
      flex-direction: column;
    }
  }

  .row-container {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center vertically, optional */
    margin-right: 20px;
    padding: inherit;
  }


  .button-refresh {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-bottom: 15px;
    margin-right: 15px;
  }

  .button-refresh:hover {
    background-color: #45a049; /* Darker green on hover */
  }

  .button-refresh:active {
    background-color: #3e8e41; /* Even darker on active */
  }

  .button-refresh i {
    margin-right: 5px; /* Space between icon and text */
    font-size: 18px; /* Adjust icon size */
  }


  .center{
    text-align: center;
  }

  h1{
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(#0072ff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px;
  }

  form {
    display: flex;
    flex-direction: row; /* This will place all the form elements in a row */
    align-items: center;
    justify-content: space-between; /* This will space out the form elements evenly */
    max-width: 100%;
    padding: 20px;

  }

  mat-form-field {
    flex: 1; /* This will make each form field take up an equal amount of space */
    margin: 0 10px; /* This will add some margin to the left and right of each form field */
  }

  /* This media query will apply when the screen width is 600px or less */
  @media (max-width: 600px) {
    form {
      flex-direction: column; /* This will place the form elements in a column */
    }

    mat-form-field {
      margin: 10px 0; /* This will add some margin to the top and bottom of each form field */
    }
  }

  .table-wrapper {
    margin: 20px;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    max-width: 100%; /* This will limit the maximum width of the table to 100% of the screen width */
  }

</style>
